Client.json
[{"id":"3eded32a.90c56c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa2ff577.9d7fb8","type":"mqtt-broker","name":"Home","broker":"192.168.68.76","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a29f9c0.85a7d68","type":"mqtt-broker","name":"http://192.168.68.78/","broker":"192.168.68.78","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"950eff65.91a6","type":"mqtt-broker","name":"Hotspot","broker":"172.20.10.4","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"99bf04c.196c7f8","type":"debug","z":"3eded32a.90c56c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":420,"wires":[]},{"id":"a326a57d.bccd28","type":"mqtt in","z":"3eded32a.90c56c","name":"","topic":"test","qos":"2","datatype":"auto","broker":"950eff65.91a6","nl":false,"rap":false,"x":446,"y":363,"wires":[["99bf04c.196c7f8","a81ed48f.0be288"]]},{"id":"a81ed48f.0be288","type":"rpi-gpio out","z":"3eded32a.90c56c","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":760,"y":360,"wires":[]}]