Publisher_Main.json
[{"id":"7a68fdc7.1211e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa4c382c.3bd8e8","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"c65ba5ad.9d7f88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7c71c7b8.2c9fe8","type":"ui_group","name":"Default","tab":"fbf5c038.d632b","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"fbf5c038.d632b","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"37493906.e5f0e6","type":"telegram bot","botname":"CSC1010Photobooth_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a29f9c0.85a7d68","type":"mqtt-broker","name":"Home","broker":"192.168.68.76","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e9f5fbe.9d4de","type":"mqtt-broker","name":"Hotspot","broker":"172.20.10.4","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"18f89810.e4f2d8","type":"ui_button","z":"7a68fdc7.1211e4","name":"","group":"7c71c7b8.2c9fe8","order":2,"width":"5","height":"1","passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-camera fa-2x","payload":"","payloadType":"str","topic":"","topicType":"str","x":420,"y":420,"wires":[["a442bd3e.5b7a9"]]},{"id":"a442bd3e.5b7a9","type":"change","z":"7a68fdc7.1211e4","name":"msg.capture","rules":[{"t":"set","p":"capture","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["e1817e3f.d71ed"]]},{"id":"8169167c.257158","type":"ui_button","z":"7a68fdc7.1211e4","name":"Clear","group":"7c71c7b8.2c9fe8","order":2,"width":"5","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-trash fa-2x","payload":"\"\"","payloadType":"json","topic":"","topicType":"str","x":410,"y":460,"wires":[["e1817e3f.d71ed"]]},{"id":"d9551cb2.1adcd","type":"telegram sender","z":"7a68fdc7.1211e4","name":"","bot":"37493906.e5f0e6","haserroroutput":false,"outputs":1,"x":1430,"y":460,"wires":[[]]},{"id":"c0c5c30d.c4996","type":"function","z":"7a68fdc7.1211e4","name":"send picture","func":"var pl = {\n  content: msg.payload,\n  type : 'photo',\n  chatId: 557762864,\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":460,"wires":[["d9551cb2.1adcd","aac58405.0773e8"]]},{"id":"d56cce71.5286a","type":"mqtt out","z":"fa4c382c.3bd8e8","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a29f9c0.85a7d68","x":790,"y":420,"wires":[]},{"id":"34768beb.c7b8e4","type":"inject","z":"fa4c382c.3bd8e8","name":"LED Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":390,"y":420,"wires":[["d56cce71.5286a"]]},{"id":"ff69d35c.cc663","type":"inject","z":"fa4c382c.3bd8e8","name":"LED On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":420,"wires":[["d56cce71.5286a"]]},{"id":"ab842699.8e8bc8","type":"ui_switch","z":"fa4c382c.3bd8e8","name":"","label":"LED Switch","tooltip":"","group":"7c71c7b8.2c9fe8","order":0,"width":"10","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1010,"y":420,"wires":[["d56cce71.5286a"]]},{"id":"dfa45292.ff3ef","type":"microphone","z":"fa4c382c.3bd8e8","name":"","x":170,"y":600,"wires":[["ae0fdd18.df878"]]},{"id":"ae0fdd18.df878","type":"Speech To Text","z":"fa4c382c.3bd8e8","name":"","userAgent":"Linux OS","locale":"en-US","x":380,"y":600,"wires":[["516fca46.4de884"]]},{"id":"bba90408.39c358","type":"function","z":"fa4c382c.3bd8e8","name":"","func":"var payload=msg.payload;\n\nif(payload==\"light\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"on light\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"light on\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"on\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"lights\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"lights on\"){\n    msg.payload=\"true\"\n}\nelse{\n    msg.payload=\"false\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["d56cce71.5286a","2af796ad.1e952a"]]},{"id":"2af796ad.1e952a","type":"debug","z":"fa4c382c.3bd8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"e1817e3f.d71ed","type":"ui_webcam","z":"7a68fdc7.1211e4","name":"","group":"7c71c7b8.2c9fe8","order":4,"width":"10","height":"10","countdown":true,"autoStart":true,"hideCaptureButton":false,"showImage":"2","mirror":true,"format":"jpeg","x":820,"y":460,"wires":[["c0c5c30d.c4996"]]},{"id":"aff227ea.ca1238","type":"ui_microphone","z":"fa4c382c.3bd8e8","name":"","group":"7c71c7b8.2c9fe8","order":4,"width":"5","height":"1","maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":390,"y":540,"wires":[["bba90408.39c358","2af796ad.1e952a"]]},{"id":"516fca46.4de884","type":"debug","z":"fa4c382c.3bd8e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":600,"wires":[]},{"id":"942bce0a.af591","type":"function","z":"7a68fdc7.1211e4","name":"","func":"var payload=msg.payload;\n\nif(payload==\"photo\"){\n    msg.payload=\"capture\"\n}\nelse if(payload==\"photo and Light\"){\n    msg.payload=\"capture_light\"\n}\nelse if(payload==\"photo and Lights\"){\n    msg.payload=\"capture_light\"\n}\nelse if(payload==\"photo and light\"){\n    msg.payload=\"capture_light\"\n}\nelse if(payload==\"photo and lights\"){\n    msg.payload=\"capture_light\"\n}\nelse if(payload==\"light\"){\n    msg.payload=\"light\"\n}\nelse if(payload==\"like\"){\n    msg.payload=\"light\"\n}\nelse if(payload==\"lights\"){\n    msg.payload=\"light\"\n}\nelse if(payload==\"likes\"){\n    msg.payload=\"light\"\n}\nelse{\n    msg.payload=\"false\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":340,"wires":[["a0067142.32b69"]]},{"id":"68bb4a09.0c5de4","type":"ui_microphone","z":"7a68fdc7.1211e4","name":"Command Me","group":"7c71c7b8.2c9fe8","order":4,"width":"5","height":"1","maxLength":5,"maxRecogLength":"10","timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":430,"y":340,"wires":[["942bce0a.af591"]],"outputLabels":["Command Me"]},{"id":"a0067142.32b69","type":"switch","z":"7a68fdc7.1211e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"capture","vt":"str"},{"t":"eq","v":"capture_light","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":890,"y":340,"wires":[["f296e4a3.de3f68","8292d3b7.53bf8"],["f296e4a3.de3f68","50a67fac.a236a"],["50a67fac.a236a"],["d22c49ff.7dd788"]]},{"id":"d22c49ff.7dd788","type":"mqtt out","z":"7a68fdc7.1211e4","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e9f5fbe.9d4de","x":1050,"y":740,"wires":[]},{"id":"3f205fd6.6f19b","type":"inject","z":"7a68fdc7.1211e4","name":"LED Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":650,"y":740,"wires":[["d22c49ff.7dd788"]]},{"id":"520adf7e.bb74d","type":"inject","z":"7a68fdc7.1211e4","name":"LED On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":430,"y":740,"wires":[["d22c49ff.7dd788"]]},{"id":"a8aac58b.583c78","type":"ui_switch","z":"7a68fdc7.1211e4","name":"","label":"LED Switch","tooltip":"","group":"7c71c7b8.2c9fe8","order":0,"width":"10","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1270,"y":740,"wires":[["d22c49ff.7dd788"]]},{"id":"b93f5087.852ec","type":"microphone","z":"7a68fdc7.1211e4","name":"","x":430,"y":920,"wires":[["aee4c97f.33c458"]]},{"id":"aee4c97f.33c458","type":"Speech To Text","z":"7a68fdc7.1211e4","name":"","userAgent":"Linux OS","locale":"en-US","x":640,"y":920,"wires":[["a7e35804.a471c8"]]},{"id":"a5456765.98a548","type":"function","z":"7a68fdc7.1211e4","name":"","func":"var payload=msg.payload;\n\nif(payload==\"light\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"on light\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"light on\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"on\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"lights\"){\n    msg.payload=\"true\"\n}\nelse if(payload==\"lights on\"){\n    msg.payload=\"true\"\n}\nelse{\n    msg.payload=\"false\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":860,"wires":[["d22c49ff.7dd788","21c4de55.a92682"]]},{"id":"21c4de55.a92682","type":"debug","z":"7a68fdc7.1211e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":860,"wires":[]},{"id":"8401fe01.7c08f","type":"ui_microphone","z":"7a68fdc7.1211e4","d":true,"name":"Switch Lights","group":"7c71c7b8.2c9fe8","order":4,"width":"5","height":"1","maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":650,"y":860,"wires":[["a5456765.98a548","21c4de55.a92682"]]},{"id":"a7e35804.a471c8","type":"debug","z":"7a68fdc7.1211e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":920,"wires":[]},{"id":"f296e4a3.de3f68","type":"delay","z":"7a68fdc7.1211e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":340,"wires":[["a442bd3e.5b7a9"]]},{"id":"50a67fac.a236a","type":"change","z":"7a68fdc7.1211e4","name":"msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":680,"wires":[["d22c49ff.7dd788"]]},{"id":"aac58405.0773e8","type":"function","z":"7a68fdc7.1211e4","name":"send date","func":"var d=new Date();\n\nvar pl = {\n  content: `٩(⊙‿⊙)۶Here is the picture you've took on `+d,\n  type : 'message',\n  chatId: 557762864,\n}\n\nmsg.payload = pl;\n\n\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":420,"wires":[["d9551cb2.1adcd"]]},{"id":"8292d3b7.53bf8","type":"change","z":"7a68fdc7.1211e4","name":"msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":640,"wires":[["d22c49ff.7dd788"]]}]
